.wrapper {
    display: flex;
    justify-content: center;
    padding: 10px;
    
    & button:hover[type="submit"] {
        border-color: #8b4342;
        background-color: #8b4342;
        color: white;
    }
}

.formControl {
    display: flex;
    width: 280px;

    & div {
        margin-left: 0;
    }
}

.formControl__input {
    margin: 4px;
    width: 100%;
    
    & div {
        margin-bottom: 5px;
    }

    & button {
        right: 7px;
    }

}
